https://github.com/shayansiddiqui/nn-common-modules/releases/download/v1.0/nn_common_modules-1.0-py2.py3-none-any.whl ; sys_platform == "linux"
cloudpickle==0.8.0
happy==1.2.1
imageio==2.5.0
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
marshmallow==3.0.0rc4
matplotlib==3.0.2
networkx==2.2
numpy==1.16.2
numpydoc==0.8.0
olefile==0.46
packaging==19.0
pandocfilters==1.4.2
parso==0.3.4
pathlib==1.0.1
pickleshare==0.7.5
polystores==0.1.7
prompt-toolkit==2.0.9
psutil==5.4.7
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
PyYAML==5.1
qtconsole==4.4.3
QtPy==1.6.0
raven==6.7.0
requests==2.21.0
requests-toolbelt==0.8.0
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
tabulate==0.8.2
testpath==0.4.2
toolz==0.9.0
torch==1.0.1
torchvision==0.2.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.1
marshmallow==3.0.0rc4
polyaxon-client==0.5.6
tensorboardX==1.9.0
pydicom==1.3.0
